

.jumbotron{
	margin-top: 70px
}

.bg1{
	background-image: url("img/kb.png");
	background-size: 70px;
	background-repeat: no-repeat;
	padding: 30px
}

p#head.text-wrap.text-lg-start.fs-5.mt-5{
	margin-top: 700px
}

a .nav-link {
	color: #73c5ff
}

#services {
	margin-top: 25px;
	margin-bottom: 80px;
}

#contact{
	margin-top: 50px;
}
